body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  background-image: url("./bitcoin-2902690_1280.jpg");
}
.skin{
  width: 350px;
  height: 200px;
  background: rgba(179,220,237,1);
  background: linear-gradient(to bottom, rgba(179,220,237,1) 0%, rgba(41,184,229,1) 50%, rgba(188,224,238,1) 100%);
 
  border-radius: 29px 29px 29px 29px;
  -moz-border-radius: 29px 29px 29px 29px;
  -webkit-border-radius: 29px 29px 29px 29px;
  border: 0px solid #000000;
}
