body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  background-image: url("./bitcoin-2902690_1280.jpg");
}
.skin{
  border-radius: 65px 65px 65px 65px;
-moz-border-radius: 65px 65px 65px 65px;
-webkit-border-radius: 65px 65px 65px 65px;
border: 0px solid #000000;
}


